.homepage-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header-background {
    position: relative;
    height: 93vh;
    width: 100%;
    z-index: -10;
    background-image: url('../../../../assets/images/homepageBackground.webp');
    background-position: center;

    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: 100%;
}

.header-background>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.categoryInfo {
    display: flex;
    text-wrap: nowrap;
}

.welcome {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: larger;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}

/* 

.categories-container {
    margin: 30px 100px 60px 0px;
    min-height: 300px;
} */

.categories-title {
    padding: 10px;
    text-align: center;
    font-size: x-large;
}

.categories {
    display: grid;
    gap: 20px;
    row-gap: 60px;
    margin: 0px 80px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.cat1-container {
    display: flex;
    margin: 40px;
    gap: 30px;
}

.cat1-container>.cat1 {
    width: calc(50% - 15px);
}

.cat2-container {
    display: flex;
    margin: 40px;
    gap: 30px;
}

.cat2-container>.cat2 {
    width: calc(100% / 3 - 20px);
}

.category-img-container {
    width: 100%;
    height: 300px;
    border-radius: 13px;
    position: relative;
}

.category-img {
    border-radius: 13px;
    width: 100%;
    height: 100%;
}

.category-img-container:hover>.view-btn {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.view-btn {
    display: none;
    position: absolute;
}

svg {
    fill: #808080;
    font-size: xx-large;
}

svg:hover {
    fill: black
}

.category {
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
}

.featured-banner-container {
    background-color: #808080;
    width: 100%;
}

.featured-banner {
    max-width: 1200px;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 200px;
}

.featured-photo-container {
    position: absolute;
    left: 25%;
    top: 30%;
    width: 300px;
    height: 200px;
    background-color: cyan;
}

.featured-photo {
    width: 100%;
    height: 100%;
    position: relative;
}

.featured-photo>img {
    background: url('../../../../assets/images/homepage-background.jpeg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.featured-title-top {
    position: absolute;
    right: -32%;
    font-size: 40px;
    font-weight: bolder;
    top: -31px;
}

.featured-title-bottom {
    position: absolute;
    right: 0;
    transform: translate(100%, 0);
    font-size: 40px;
    font-weight: bolder;
    top: 5px;
}

.categories-container {
    margin-bottom: 100px;
}

.featured-posts-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

@media(min-height:800px) {
    .header-background {
        height: 700px;
    }
}

@media(max-width:400px) {

    .categories,
    .features {
        margin: 0 10px;
        grid-template-columns: 1fr;
    }
}



















.featuredInfo {
    display: flex;
    text-wrap: nowrap;
}

.features-container {
    max-width: 1200px;
    margin: 100px auto;
}

.features-title {
    padding: 10px;
    text-align: center;
    font-size: x-large;
}

.features {
    display: grid;
    justify-content: center;
    gap: 20px;
    row-gap: 60px;
    margin: 0px 80px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.featured-img-container {
    width: 100%;
    height: 300px;
    border-radius: 13px;
    position: relative;
}

.featured-img {
    border-radius: 13px;
    width: 100%;
    height: 100%;
}

.featured-img-container:hover>.view-btn {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.view-btn {
    display: none;
    position: absolute;
}

svg {
    fill: #808080;
    font-size: xx-large;
}

svg:hover {
    fill: black
}

.featured {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    text-transform: capitalize;
}