.homepage-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header-background {
    position: relative;
    height: 93vh;
    width: 100%;
    z-index: -10;
    background-image: url('../../../../assets/images/homepageBackground.webp');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-background>img {
    width: 100%;
    height: 100%;
}

.category-img-container {
    position: relative;
    width: 100%;
    height: 250px;
}

.category-img {
    width: 100%;
    height: 100%;
}

.category-img-container:hover>.view-btn {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.category-overlay:hover>* {
    color: #2398d4;
}

.category-img-container:hover {
    box-shadow: rgba(0, 0, 0, 0.85) 0px 25px 20px -20px;
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.027);
}

.categoryInfo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    color: #FFF;
    text-align: center;
    word-break: break-all;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slider {
    vertical-align: center;
    display: flex;
    align-items: center;
}

.slider>* {
    cursor: pointer;
}

.welcome {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: larger;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}

.categories-title {
    color: #040404;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    text-align: center;
}

.view-btn {
    display: none;
    position: absolute;
}

svg {
    fill: #808080;
    font-size: xx-large;
}

svg:hover {
    fill: black
}

.category {
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
}

.cat-arrows>svg:hover {
    fill: #2398d4;
}

.featured-banner-container {
    background-color: #2398d4;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.featured-title {
    font-size: 40px;
    font-weight: bolder;
}

.categories-container {
    display: flex;
    gap: 50px;
    margin: 30px 40px 100px 40px;
}

.cat {
    width: 100%;
}

/* featured products */
.featured-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 370px;
    border: 1px solid #E1E1E1;
}

.featuredInfo {
    position: relative;
    height: 32%;
    box-sizing: border-box;
    padding: 15px;
}


.featured {
    text-transform: capitalize;
    color: #000;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #000;
    font-size: 20px;
}

.features-container {
    max-width: 1200px;
    margin: 100px auto;

}

.features-title {
    padding: 10px;
    text-align: center;
    font-size: x-large;
}

.features {
    display: grid;
    margin: 0px 40px;
    gap: 30px;
    row-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}

.featured-img-container {
    width: 100%;
    height: 68%;
    position: relative;
}

.featured-img {
    width: 100%;
    height: 100%;
}

.featured-img-container:hover>.view-btn {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

svg {
    fill: #808080;
    font-size: xx-large;
}

svg:hover {
    fill: #2398d4
}

@media(min-height:800px) {
    .header-background {
        height: 700px;
    }
}

@media (max-width:700px) {
    .categories-container {
        gap: 10px;
    }
}

@media(max-width:400px) {

    .categories,
    .features {
        margin: 0 10px;
        grid-template-columns: 1fr;
    }

    .header-background {
        position: relative;
        height: 93vh;
        width: 100%;
        z-index: -10;
        background-image: url('../../../../assets/images/homepageBackground.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 150%;
    }
}




/* 

*/

@media(max-width:370px) {
    .features-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }

    .featured-post {
        max-width: none !important;
    }
}

@media(max-width:650px) {
    .featured-post {
        max-width: 250px;
        margin: auto;
    }

    .featured-img-container {
        width: 250px;
    }
}

@media (min-width:370px) {
    .featured-post {
        max-width: 250px;
        margin: auto;
    }

    .featured-img-container {
        width: 250px;
    }
}