<div class="options-container">
    <div class="option-tab">
        <p class="title">Account Information</p>
        <p *ngIf="msg">{{msg}}</p>
        <form [formGroup]="accountForm" class="account-info">
            email: <input formControlName="email" [value]="email" type="text" [readonly]="!editable" />
            {{editable ? 'new password:' : 'password:'}} <input formControlName="password" [value]="password"
                type="text" [readonly]="!editable" />
            <button (click)="handleBtn()">{{editable ? 'Save' : 'Edit'}}</button>
        </form>
        <div class="delete-container">
            <p class="title">Delete Account</p>
            <button class="delete-btn" (click)="handleDelete()">
                Delete account
            </button>
        </div>
    </div>
    <div class="account-info-photo">
        <img src="../../../../assets/images/register.png" alt="">
    </div>
</div>