<div *ngIf="addProductToggle" class="add-container">
    <form [formGroup]="productForm" (ngSubmit)="Add()">
        <span class="black-button color-btn" (click)="colorBools.black=!colorBools.black"></span>
        <span class="white-button color-btn" (click)="colorBools.white=!colorBools.white"></span>
        <span class="green-button color-btn" (click)="colorBools.green=!colorBools.green"></span>
        <span class="red-button color-btn" (click)="colorBools.red=!colorBools.red"></span>
        <span class="blue-button color-btn" (click)="colorBools.blue=!colorBools.blue"></span>
        <table>
            <div class="result" *ngIf="AddProductresult">
                {{AddProductresult2 ? 'product added successfully' : 'error occurred while adding product'}}
            </div>
            <tr>
                <td>Productname:<input #ProductName type="text" formControlName="name" /></td>
                <td>Price:<input #Price type="number" formControlName="price" />
                    Photo:<input type="file" (change)="onFileUpload($event)" />
                </td>
                <td>
                    category:
                    <select #category formControlName="category">
                        <option *ngFor="let item of categories" [value]="item">{{item}}</option>
                    </select>
                </td>
                <td>gender:
                    <select #gender formControlName="gender">
                        <option>men</option>
                        <option>women</option>
                    </select>
                </td>
                <td><input type="submit" value="Add">
                </td>
            </tr>
            <tr>
                <th>Color </th>
                <th>Small</th>
                <th>medium</th>
                <th>large</th>
                <th>XL</th>
            </tr>
            <tr *ngIf="colorBools.black">
                <td [style.background-color]="'black'"></td>
                <td><input #black_s type="number" [value]='colorData.black.s'
                        (change)="colorData.black.s=(black_s.value)" /></td>
                <td><input #black_m type="number" [value]='colorData.black.m'
                        (change)="colorData.black.m=(black_m.value)" /></td>
                <td><input #black_l type="number" [value]='colorData.black.l'
                        (change)="colorData.black.l=(black_l.value)" /></td>
                <td><input #black_xl type="number" [value]='colorData.black.xl'
                        (change)="colorData.black.xl=(black_xl.value)" /></td>
            </tr>
            <tr *ngIf="colorBools.white">
                <td [style.background-color]="'white'"></td>
                <td><input #white_s type="number" [value]="colorData.white.s"
                        (change)="colorData.white.s=(white_s.value)" /></td>
                <td><input #white_m type="number" [value]="colorData.white.m"
                        (change)="colorData.white.m=(white_m.value)" /></td>
                <td><input #white_l type="number" [value]="colorData.white.l"
                        (change)="colorData.white.l=(white_l.value)" /></td>
                <td><input #white_xl type="number" [value]="colorData.white.xl"
                        (change)="colorData.white.xl=(white_xl.value)" /></td>
            </tr>
            <tr *ngIf="colorBools.red">
                <td [style.background-color]="'red'"></td>
                <td><input #red_s type="number" [value]="colorData.red.s" (change)="colorData.red.s=(red_s.value)" />
                </td>
                <td><input #red_m type="number" [value]="colorData.red.m" (change)="colorData.red.m=(red_m.value)" />
                </td>
                <td><input #red_l type="number" [value]="colorData.red.l" (change)="colorData.red.l=(red_l.value)" />
                </td>
                <td><input #red_xl type="number" [value]="colorData.red.xl"
                        (change)="colorData.red.xl=(red_xl.value)" /></td>
            </tr>
            <tr *ngIf="colorBools.blue">
                <td [style.background-color]="'blue'"></td>
                <td><input #blue_s type="number" [value]="colorData.blue.s"
                        (change)="colorData.blue.s=(blue_s.value)" /></td>
                <td><input #blue_m type="number" [value]="colorData.blue.m"
                        (change)="colorData.blue.m=(blue_m.value)" /></td>
                <td><input #blue_l type="number" [value]="colorData.blue.l"
                        (change)="colorData.blue.l=(blue_l.value)" /></td>
                <td><input #blue_xl type="number" [value]="colorData.blue.xl"
                        (change)="colorData.blue.xl=(blue_xl.value)" /></td>
            </tr>
            <tr *ngIf="colorBools.green">
                <td [style.background-color]="'green'"></td>
                <td><input #green_s type="number" [value]="colorData.green.s"
                        (change)="colorData.green.s=(green_s.value)" /></td>
                <td><input #green_m type="number" [value]="colorData.green.m"
                        (change)="colorData.green.m=(green_m.value)" /></td>
                <td><input #green_l type="number" [value]="colorData.green.l"
                        (change)="colorData.green.l=(green_l.value)" /></td>
                <td><input #green_xl type="number" [value]="colorData.green.xl"
                        (change)="colorData.green.xl=(green_xl.value)" /></td>
            </tr>
        </table>
    </form>
</div>
<div class="table-container">
    <table>
        <tr>
            <th>image</th>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>Stock</th>
            <th>{{addProductToggle?'':'Add a product '}}<button [ngClass]=" addProductToggle?'Stop-btn':'plus-btn'"
                    (click)="addProductToggle=!addProductToggle">{{addProductToggle?'Stop':'+'}}</button>
            </th>
        </tr>
        <tr *ngIf="(temp=='access denied'||temp=='error occured while getting data');else table">
            <td>{{temp}}</td>
            <td>{{temp}}</td>
            <td>{{temp}}</td>
            <td>{{temp}} </td>
            <td>{{temp}}</td>
            <td><button>Delete</button></td>
        </tr>
        <ng-template #table>
            <tr *ngFor="let item of data">
                <td><img [src]="imgFolder+item.img" alt="" class="product-img" /></td>
                <td>{{item._id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td><button (click)="DeleteProduct(item._id)" class="Delete-btn">Delete</button>
                    <button (click)="toggleEdit(item._id)" class="Delete-btn">Edit</button>
                </td>
            </tr>
        </ng-template>
    </table>
    <div class="add-categories">
        <label for="category">add a new Product category</label> <input #cat type="text" id="category" />
        <br> <label for="gender">choose a gender that this product is for</label> <select #gender id="gender">
            <option>men</option>
            <option>women</option>
        </select>
        <button (click)="AddCat(cat.value,gender.value)">Add Cat</button>
    </div>
    <div class="add-categories">
        <label for="featured">Feature a product on front page:</label>
        <div class="inputs-flex">
            <input #featured type="text" id="featured" placeholder="enter the product id" />
            <button (click)="Addfeatured(featured.value)">Add Featured</button>
        </div>
    </div>
</div>




<div *ngIf="editProductToggle" class="add-container">
    <form [formGroup]="EditedproductForm" (ngSubmit)="edit()">
        <div>
            <span class="black-button color-btn" (click)="EditcolorBools.black=!EditcolorBools.black"></span>
            <span class="white-button color-btn" (click)="EditcolorBools.white=!EditcolorBools.white"></span>
            <span class="green-button color-btn" (click)="EditcolorBools.green=!EditcolorBools.green"></span>
            <span class="red-button color-btn" (click)="EditcolorBools.red=!EditcolorBools.red"></span>
            <span class="blue-button color-btn" (click)="EditcolorBools.blue=!EditcolorBools.blue"></span>
        </div>
        <div>
            editing {{EditProductId}}
        </div>
        <table>
            <div class="result" *ngIf="editProductresult">
                {{editProductresult2 ? 'product edited successfully' : 'error occurred while editing product'}}
            </div>
            <tr>
                <td>Productname:<input #ProductName type="text" formControlName="name" /></td>
                <td>Price:<input #Price type="number" formControlName="price" />
                </td>
                <td>
                    category:
                    <select #category formControlName="category">
                        <option *ngFor="let item of categories" [value]="item">{{item}}</option>
                    </select>
                </td>
                <td>gender:
                    <select #gender formControlName="gender">
                        <option>men</option>
                        <option>women</option>
                    </select>
                </td>
                <td><input type="submit" value="Save">
                </td>
            </tr>
            <tr>
                <th>Color </th>
                <th>Small</th>
                <th>medium</th>
                <th>large</th>
                <th>XL</th>
            </tr>
            <tr *ngIf="EditcolorBools.black">
                <td [style.background-color]="'black'"></td>
                <td><input #black_s type="number" [value]='colorEditData.black.s'
                        (change)="colorEditData.black.s=(black_s.value)" /></td>
                <td><input #black_m type="number" [value]='colorEditData.black.m'
                        (change)="colorEditData.black.m=(black_m.value)" /></td>
                <td><input #black_l type="number" [value]='colorEditData.black.l'
                        (change)="colorEditData.black.l=(black_l.value)" /></td>
                <td><input #black_xl type="number" [value]='colorEditData.black.xl'
                        (change)="colorEditData.black.xl=(black_xl.value)" /></td>
            </tr>
            <tr *ngIf="EditcolorBools.white">
                <td [style.background-color]="'white'"></td>
                <td><input #white_s type="number" [value]="colorEditData.white.s"
                        (change)="colorEditData.white.s=(white_s.value)" /></td>
                <td><input #white_m type="number" [value]="colorEditData.white.m"
                        (change)="colorEditData.white.m=(white_m.value)" /></td>
                <td><input #white_l type="number" [value]="colorEditData.white.l"
                        (change)="colorEditData.white.l=(white_l.value)" /></td>
                <td><input #white_xl type="number" [value]="colorEditData.white.xl"
                        (change)="colorEditData.white.xl=(white_xl.value)" /></td>
            </tr>
            <tr *ngIf="EditcolorBools.red">
                <td [style.background-color]="'red'"></td>
                <td><input #red_s type="number" [value]="colorEditData.red.s"
                        (change)="colorEditData.red.s=(red_s.value)" />
                </td>
                <td><input #red_m type="number" [value]="colorEditData.red.m"
                        (change)="colorEditData.red.m=(red_m.value)" />
                </td>
                <td><input #red_l type="number" [value]="colorEditData.red.l"
                        (change)="colorEditData.red.l=(red_l.value)" />
                </td>
                <td><input #red_xl type="number" [value]="colorEditData.red.xl"
                        (change)="colorEditData.red.xl=(red_xl.value)" /></td>
            </tr>
            <tr *ngIf="EditcolorBools.blue">
                <td [style.background-color]="'blue'"></td>
                <td><input #blue_s type="number" [value]="colorEditData.blue.s"
                        (change)="colorEditData.blue.s=(blue_s.value)" /></td>
                <td><input #blue_m type="number" [value]="colorEditData.blue.m"
                        (change)="colorEditData.blue.m=(blue_m.value)" /></td>
                <td><input #blue_l type="number" [value]="colorEditData.blue.l"
                        (change)="colorEditData.blue.l=(blue_l.value)" /></td>
                <td><input #blue_xl type="number" [value]="colorEditData.blue.xl"
                        (change)="colorEditData.blue.xl=(blue_xl.value)" /></td>
            </tr>
            <tr *ngIf="EditcolorBools.green">
                <td [style.background-color]="'green'"></td>
                <td><input #green_s type="number" [value]="colorEditData.green.s"
                        (change)="colorEditData.green.s=(green_s.value)" /></td>
                <td><input #green_m type="number" [value]="colorEditData.green.m"
                        (change)="colorEditData.green.m=(green_m.value)" /></td>
                <td><input #green_l type="number" [value]="colorEditData.green.l"
                        (change)="colorEditData.green.l=(green_l.value)" /></td>
                <td><input #green_xl type="number" [value]="colorEditData.green.xl"
                        (change)="colorEditData.green.xl=(green_xl.value)" /></td>
            </tr>
        </table>
    </form>
</div>