<div class="buy-container">
    <div class="msg" *ngIf="msg">
        {{msg}}
    </div>
    <form (submit)="buy(method.value,pass.value,address.value)">
        <label for="method">select a payment method</label>
        <select #method name="method">
            <option>masterCard</option>
            <option>visa</option>
            <option>omt</option>
            <option>WishMoney</option>
        </select>
        <input #pass type="text" placeholder="enter your cart info">
        <input #address type=" text" placeholder="enter your address">
        <input type="submit" value="buy" />
    </form>
</div>