header {
    z-index: 100;
    height: 47px;
    background-color: white;
    border-bottom: 1px solid black;
    color: gray;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: bold;
    font-size: small;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-left: 40px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.header-container>* {
    height: 100%;
}

.logout {
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listContainer {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-left: 20px;
    text-wrap: nowrap;
    align-items: center;
}

.sidebar {
    display: none !important;
}

.sidebarIcon {
    display: none;
}

.closeIcon {
    cursor: pointer;
}

.selected {
    background-color: gray;
    height: 47px;
    padding: 0px 60px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    max-width: 60px;
    display: flex;
    align-items: center;
    color: white !important;
}

.sidebarSelected {
    background-color: gray;
}

.listItem:hover {
    cursor: pointer;
    color: black;
}

@media(max-width:750px) {
    .sidebar {
        display: flex !important;
        position: fixed;
        flex-direction: column;
        gap: 25px;
        padding: 40px;
        background: lightgrey;
        color: black;
        border: 1px solid black;
        max-height: 220px;
        right: 5px;
        top: 0px;
        font-size: 17px;
        font-weight: bold;
    }

    .listItem:hover {
        color: white;
    }

    .sidebarIcon {
        display: flex !important;
        position: fixed;
        right: 40px;
        top: 0px;
        max-height: 47px;
        align-items: center;
    }

    .listItem {
        text-align: center;
        padding: 5px;
    }

    .logout {
        display: none;
    }

    .listContainer {
        display: none;
    }
}