<footer>
    <div class='Logo'>Shopping center</div>
    <div class="footer-container">

        <div>
            <ul>
                <li>facebook</li>
                <li>insta</li>
                <li>twitter</li>
                <li>+961 81457625</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>facebook</li>
                <li>insta</li>
                <li>twitter</li>
                <li>+961 81457625</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>facebook</li>
                <li>insta</li>
                <li>twitter</li>
                <li>+961 81457625</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>facebook</li>
                <li>insta</li>
                <li>twitter</li>
                <li>+961 81457625</li>
            </ul>
        </div>
    </div>
</footer>