.container {
    width: calc(100% - 80px);
    max-width: 800px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    height: calc(90vh - 90px);
}

.registerbackground {
    width: 100%;
    height: 100%;
}

.photoContainer {
    width: 50%;
    height: 100%;
    margin-right: 30px;
    max-height: 600px;
}

.registercontainer {
    width: 50%;
    max-height: 600px;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px #000;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3F210E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Amatic SC;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    display: flex;
    flex-direction: column;
    color: #3F210E;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title>div {
    font-size: small;
    color: red;
}


form {
    display: flex;
    flex-direction: column;
    height: 100%;

}

form>input,
button {
    color: #3F210E;
    border-radius: 42px;
    box-shadow: inset 0px 0px 29px 0px rgba(44, 44, 44, 0.27);
    width: 90%;
    margin: auto;
    height: 50px
}

form>input {
    background: #FFE3BB;
}

.redborder {
    border: 1px solid red;
}

.disableButton {
    background: gray;
}

input::placeholder {
    color: rgb(65, 65, 65);
    font-size: large;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

input {
    box-sizing: border-box;
    color: #3F210E;
    font-size: large;
    padding-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

form>p {
    width: calc(90% - 40px);
    margin: auto;
}

form>button {
    font-style: normal;
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: #FFE3BB;
    margin: 50px auto;
    margin-top: 10px;
    background: linear-gradient(180deg, #3F210E 13.02%, #592A0C 84.37%);
    backdrop-filter: blur(2px);
}

@media (max-width:750px) {
    .photoContainer {
        display: none;
    }

    .registercontainer {
        margin: auto;
        height: 100%;
        width: 60%;
    }
}

@media (max-width:500px) {
    .registercontainer {
        width: 90%;
    }

    .logo {
        font-size: 36px;
    }

    .title {
        font-size: 33px;
    }
}